<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">    <link rel="stylesheet" type="text/css" href="./assets/style.css">
    <title>Portfolio</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg" id="nav">
            <div class="innerNav">                  
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About Me</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">Projects</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Links</a>
                    </li>
                  </ul>
                </div>
            </div>
              </nav>
              
            <div class="parallax1">
                <div class="mainbody1">
                    <h1 class="name">JOHN MICHAEL PINTOR</h1>
                </div>
            </div>
                
            <div style="font-family: 'Baloo', cursive; height:75px;top:50%;text-align:center;color:white;background-color:rgba(0,0,0,0.5);font-size:36px">About Me</div>
            
            <div class="parallax2"></div>

            <div style="font-family: 'Baloo', cursive; height:75px;top:50%;text-align:center;color:white;background-color:rgba(0,0,0,0.5);font-size:36px">Projects</div>

            <div class="parallax3"></div>

            <div style="font-family: 'Baloo', cursive; height:75px;top:50%;text-align:center;color:white;background-color:rgba(0,0,0,0.5);font-size:36px">Links</div>

            <div class="parallax4"></div>
    </div>      
</body>
</html>